<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cars List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addCars">Add cars</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Model</th>
        </tr>
        <tr th:each ="cars : ${cars}">
            <td th:utext="${cars.name}">...</td>
            <td th:utext="${cars.model}">...</td>
        </tr>
    </table>
</div>
</body>
</html>